#mainWidget {
    border-image: url(:/qss/SZU_LOGO.png);
    background-color: #f6f5ec;
}
#resWaveGraph {
    min-width: 400px;
    min-height: 200px;
}
#subVBoxLayout { /* 要先声明控件变量 */
    min-width: 100px;
    min-height: 300px;
}
/********************QPushButton样式**********************/
QPushButton {
    background-color: whitesmoke;
    background-color:azure;
    border-radius: 7px;                /* 设置边框圆角 */
    border-top: 1px solid qlineargradient(y0:0, y1:1, stop: 0 #ececef, stop: 1 white);
    border-left: 1px solid qlineargradient(x0:0, x1:1, stop: 0 #ececef, stop: 1 white);
    border-bottom: 1px solid qlineargradient(y0:0, y1:1, stop: 0 white, stop: 1 #ececef);
    border-right: 1px solid qlineargradient(x0:0, x1:1, stop: 0 white, stop: 1 #ececef);
    font: 20px "Microsoft YaHei";	        /* 设置字体 */
    font-weight: bold;
    min-width: 80px;                   /* 设置按键的最小宽度 */
    min-height: 25px;
}

QPushButton:hover{                     /* 设置鼠标停留样式 */
    background-color:powderblue;
}

QPushButton:pressed{                   /* 设置按键按下样式 */
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}

QPushButton:default {                 /* 设置默认按键样式 */
    border-color: rgb(249, 251, 253);
}

QPushButton:open {                    /* 设置菜单打开时button样式*/
    background-color:qlineargradient(x1: 0 , y1: 0 , x2: 0 , y2: 1 ,
                                  stop: 0 #dadbde, stop: 1 #f6f7fa);
}

QPushButton::menu-indicator {          /* 设置下拉箭头 */
    subcontrol-origin: content;        /* 父控件内子控件的原点矩形。是QSS独有的属性。值为父控件的盒子模式的区域 */
    subcontrol-position: center right; /* 设置下拉箭头显示位置为水平方向上靠右，垂直方向居中*/
}

QPushButton::menu-indicator:pressed,
QPushButton::menu-indicator:open {
    position: relative;                /* 指定了元素的定位类型*/
    top: 1px; left: 2px;               /* 设置在点击按键、打开菜单时偏移下拉箭头*/
}

/********************QSlider横向滑动条样式**********************/
QSlider {
    background-color: rgba(170, 255, 255, 0);  /* 设置滑动条主体 */
}

QSlider::groove:horizontal {
    border-top: 1px solid qlineargradient(y0:0, y1:1, stop: 0 #ececef, stop: 1 white);
    border-left: 1px solid qlineargradient(x0:0, x1:1, stop: 0 #ececef, stop: 1 white);
    border-bottom: 1px solid qlineargradient(y0:0, y1:1, stop: 0 white, stop: 1 #ececef);
    border-right: 1px solid qlineargradient(x0:0, x1:1, stop: 0 white, stop: 1 #ececef);
    height: 8px;                     /* 默认情况下，凹槽会扩展到滑块的大小。通过给它一个高度，它有一个固定的大小*/
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
    stop:0 rgba(169, 233, 245, 1), stop:0.58 rgba(240, 103, 82, 1), stop:1 rgba(147, 2, 61, 1));
    border-radius: 4px;             /* 设置滑动槽圆角*/
}

QSlider::handle:horizontal {
    border: 1px solid #5c5c5c;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
    stop:0 rgba(0, 0, 0, 255), stop:0.361582 rgba(0, 146, 146, 255),
    stop:0.649718 rgba(255, 255, 255, 255), stop:1 rgba(0, 177, 181, 255));
    width: 14px;
    margin: -4px 0px;         /* 使用负的边距可以让滑块高度超过滑动槽高度*/
    border-radius: 8px;       /* 通过设置圆角边框得到圆形的滑块 */
}
/********************QComboBox样式**********************/
QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 3px 1px 3px;         /* 设置元素边框与元素内容之间的上右下左的内边距 */
    font: bold 16px "Microsoft Yahei";
    text-align: center;
    min-width: 150px;
    min-height: 30px; 
}

QComboBox:editable {                   /* 设置可编辑的样式*/
    background-color: white;
}

QComboBox:!editable,                   /* QComboBox不可编辑状态*/
QComboBox::drop-down:editable {        /* 下拉箭头按键区域可编辑状态*/
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {      /* 当弹出窗口打开时，QComboBox获取“打开”状态(打开下拉框状态)*/
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:on {       /* 弹出下拉框窗口时移动文本*/
    padding-top: 3px;
    padding-left: 6px;
}

QComboBox::drop-down {                   /* 设置下拉按键*/
    subcontrol-origin: padding;          /* 设置按键在QComboBox盒子模型中的参考位置margin border padding content*/
    subcontrol-position: top right;      /* 设置按键位置靠上靠右*/
    width: 20px;
    border-left-width: 2px;              /* 设置下拉按键左边框宽度*/
    border-left-color: rgba(0, 255, 0, 0);   /* 左边框颜色*/
    border-left-style: solid;
    border-top-right-radius: 3px;        /* 设置边框圆角*/
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {                  /* 设置下拉箭头*/
    image: url(:/qss/combo_box/darkblue/add_bottom.png);
}

QComboBox::down-arrow:on {               /* 打开下拉框时移动下拉箭头*/
    top: 1px;
    left: 1px;
}
/********************QTextBrowser样式**********************/
QTextBrowser{
    background-color: whitesmoke;
    /* background: transparent; */
    border: 0px;
    border-radius: 2px;
    font: 20px "Microsoft YaHei";	        /* 设置字体 */
    font-weight: bold;   
    min-width: 200px;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
}
/********************QLabel样式**********************/
QLabel{
    background-color:rgba(0, 0, 0, 0); /* 透明背景 */
    font: 14px "Microsoft YaHei";
    /* font-weight: bold;    */
    border: 0px;
    padding: 0px;
    border-color: rgba(0, 0, 0, 0);
    min-width: 40px;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
}
/********************QLineEdit样式**********************/
QLineEdit{
    background-color: rgba(170, 255, 255, 0); /* 透明背景 */
    font: 14px "Microsoft YaHei";
    border-top: 1px solid qlineargradient(y0:0, y1:1, stop: 0 #ececef, stop: 1 white);
    border-left: 1px solid qlineargradient(x0:0, x1:1, stop: 0 #ececef, stop: 1 white);
    border-bottom: 1px solid qlineargradient(y0:0, y1:1, stop: 0 white, stop: 1 #ececef);
    border-right: 1px solid qlineargradient(x0:0, x1:1, stop: 0 white, stop: 1 #ececef);
    /* font-weight: bold;    */
    min-width: 40px;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    selection-background-color: gray;
}